[submodule "SensorTile"]
	path = SensorTile
	url = https://github.com/MahendraSondagar/SensorTile
[submodule "I-CubeLRWAN/STM32CubeExpansion_LRWAN_V1.3.1"]
	path = I-CubeLRWAN/STM32CubeExpansion_LRWAN_V1.3.1
	url = https://github.com/MahendraSondagar/STM32CubeExpansion_LRWAN_V1.3.1
